app/__pycache__
/__pycache__
my_app.py
.ipynb_checkpoints/final_project-checkpoint.ipynb
.ipynb_checkpoints/Movie Recommender-checkpoint.ipynb
.vscode/settings.json
notebook/.ipynb_checkpoints/Movie Recommender-checkpoint.ipynb
